@model IEnumerable<MeditGestionRisqueLesire.Models.TypeRisque>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des types de risque</h2>

<table class="table">
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TraductionRisques.First(f => f.IdLangue == (Decimal)Session["selectionLangue"]).Denomination)
        </td>

        <td>
            @Html.ActionLink("Détails", "Detail", new { id = item.IdRisque })
        </td>
    </tr>
}

</table>
