@{
    ViewBag.Title = "Page d'accueil";
}

<div class="jumbotron">
    <h1>Bienvenue sur le site de Medit!</h1>
    <br />
    <img src="~/Images/Medit.png" />
</div>

<div class="row">
    <p class="lead">Medit vous propose de gérer les risques et les examens pour les travailleurs. </p>
    <br />
    <p class="lead">Attention!, le système d'identification n'est pas encore disponible.</p>    
</div>