<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bibliotheque.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bibliotheque.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Bibliotheque</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Bibliotheque</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="bibliothequeEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPIBibliotheque.Models.bibliothequeEntities1, WebAPIBibliotheque" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="bibliothequeEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=eu-cdbr-azure-north-d.cloudapp.net;user id=b5dd2dca8fbd72;password=0913c0a8;database=bibliotheque" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\bibliothequeEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BibliothequeModel.csdl|res://*/Models.BibliothequeModel.ssdl|res://*/Models.BibliothequeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eu-cdbr-azure-north-d.cloudapp.net;user id=b5dd2dca8fbd72;password=0913c0a8;database=bibliotheque&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)bibliothequeEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>